@import '../../node_modules/@noliaki/css-cubic-bezier-variable/stylus/ease-variables'

$color-font = #2f3233

*
  &
  &::before
  &::after
    box-sizing inherit
  &::before
  &::after
    pointer-events none

html
  font-family serif
  box-sizing border-box
  color $color-font
  line-height: 1.7

img
  max-width 100%
  vertical-align: bottom

.inner
  max-width 700px
  margin 0 auto

.content
  padding 0 1em

a
  color $color-font

  &:hover
    color #306779

.wrapper
  padding-bottom 40px

.page-enter
  opacity 0
  transform-origin: 0 0
  transform: translateY(-15px) skewY(-2deg)

.page-enter-to
.page-leave
  opacity 1
  transform-origin: 0 0
  transform: translateY(0) skewY(0)

.page-enter-active
.page-leave-active
  transition opacity 400ms $easeInOutQuad,
             transform 400ms $easeInOutQuad

.page-leave-to
  opacity 0
  transform-origin: 0 0
  transform: translateY(15px) skewY(2deg)

// product
.product__list
  display grid
  grid-template-columns repeat(auto-fill, minmax(220px, 1fr))
  grid-gap 20px
  list-style none
  margin 0
  padding 0

.product__item
  display flex
  flex-direction column
  background-color rgba(#fff, 0.8)

.product__body
  padding 15px

.product__name
  font-size 1.4em
  font-weight bold
  line-height 1.3

.product__thumbnail
  position relative
  flex-shrink 0

  &::before
    content ''
    display block
    padding-top (309 / 500) * 100%

  > img
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.product__description
  flex-grow 1
  white-space pre-wrap

  p:first-of-type
    margin-top 0.5em

.about
  padding 2em 1em
  text-align center
  background-color rgba(#fff, 0.8)

.sns
  display flex
  justify-content center

  > div + div
    margin-left 20px

  img
    width 40px
    height auto

.cover
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  background-color #fff
  opacity 0.4
  z-index -1
  transition opacity 300ms linear

  .-index &
    opacity 0

.background-canvas
  display block
  position fixed
  top 0
  left 0
  pointer-events: none
  z-index -1

.loading-next-image
  position fixed
  top 10px
  right 10px
  font-size 0.8rem
  z-index 1

.loading-circle
  display inline-block
  width 1em
  height 1em
  border-radius 2em
  border-top 2px solid transparent
  border-right 2px solid $color-font
  border-bottom 2px solid $color-font
  border-left 2px solid $color-font
  vertical-align middle
  margin-right 0.5em

  animation loading 700ms linear 0s infinite normal forwards

@keyframes loading
  to
    transform rotate(360deg)

.global-header
  padding 50px 0

  a
    text-decoration none

.global-header__name
  text-align center

  > a
    display inline-block
    padding 1em
    border-top 1px solid #2f3233
    border-bottom 1px solid #2f3233

.global-nav
  overflow hidden
  margin-top 10px

  a
    position relative
    display block
    overflow hidden
    background-color rgba(#fff, 0.5)
    transition background-color 200ms linear

    &:hover
      background-color #fff

    &::before
      content ''
      display block
      position absolute
      width 100%
      height 100%
      top 0
      left 0
      transform-origin 50% 100%
      transform scaleY(0)
      background-color #2f3233
      transition transform 200ms $easeInOutExpo

    &.nuxt-link-exact-active
      color #fff
      &::before
        transform scaleY(1)

  span
    position relative
    display block
    padding 1em

.global-nav__list
  display flex
  justify-content center
  align-items center
  margin 0
  padding 0
  list-style none

.global-nav__item
  & + &
    margin-left 1px
